<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-label">
        <h2>レビュー内容の編集</h2>
          <%= form_with model: @review do |f| %>
          <%= render "layouts/error_messages", model: f.object %>
          <h5>レビュータイトル</h5>
          <%= f.text_field :title, class: "form-control w-50", size: "5x5", autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="form-label">
        <h5>レビュー本文</h5>
          <%=f.text_area :content, class: "form-control", rows: "15" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>写真を追加</h4>
        <%= f.label :images, "画像をアップロード", class: "image_input_btn" %>
        <%= f.file_field :images, accept: "image/*", multiple: true, class: "image_form" %>
        <p><%= f.submit "変更内容を保存", class: "btn btn-success" %></p>
        <%= link_to "投稿の削除", review_path(@review), class: "btn btn-danger", method: :delete, "deta-confirm" =>"本当に削除しますか？" %>
        <% end %>
    </div>
  </div>
</div>