<div>
  <h4>投稿一覧</h4>
  <% @reviews.each do |review| %>
    <p><%= link_to review_path(review.id) do %>
    <%= review.title %></p>
    <% end %>
    <p><%= review.content %></p>
    <p><%= review.created_at.strftime('%Y/%m/%d') %></p>
    <p><%= link_to "#{review.comments.count} コメント", review_path(review.id) %></p>
  <% end %>
</div>