<h2>レビュー投稿フォーム</h2>
<%#入力欄に一例、注意書きを書く %>
<%= form_with model: @review do |f| %>

<h4>レビュータイトル</h4>
<%= f.text_field :title %>

<h4>レビュー内容</h4>
<%= f.text_area :content %>

<h4>写真を追加する</h4>
<%= f.file_field :image, accept: "image/*" %>
<%= f.submit "投稿する" %>
<% end %>
