<div class="container">
  <div class="row">
    <div class="col-12 mt-4 border-bottom border-5">
      <h4 class="border-bottom pt-2 border-5 border-dark">
        <%= @user.nickname %>さんのコメントした投稿一覧</h4>
          <% @comments.each do |comment| %>
            <% if comment.review then %>
              <div class="border-bottom pt-2 border-5 border-dark">
                <%= link_to review_path(comment.review.id) do %>
                <%= comment.review.title %>
                <% end %>
                <p><%= comment.review.content.truncate(30) %></p>
                <%= link_to "#{comment.review.comments.count} コメント", review_path(comment.review.id) %>
                <p><%= comment.review.bookmarks.count %> いいね</p>
                <p><%= comment.review.created_at.strftime('%Y/%m/%d') %></p>
              </div>
            <% end %>
          <% end %>
    </div>
  </div>
</div>
